<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration </title>
</head>
<body>
<header th:insert="parts/header :: header"></header>

<div class='modal-dialog' role='document'>
    <div class='modal-content'>
        <div class='modal-header'>
            <h1 class='col-12 modal-title text-center'>Add new user</h1>
        </div>
    </div>
</div>
<div class="modal-dialog text-center">
    <div class='col-12 modal-title text-center'>
        <div class="modal-content">
            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div><label> User Name : <input type="text" name="username" th:field="${user.username}"/> </label>
                </div>
                <div><label> &nbsp; &nbsp; Password: <input type="password" name="password"
                                                            th:field="${user.password}"/> </label>
                </div>
                <div><label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    Email: <input type="text" name="email" th:field="${user.email}"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
        </div>
    </div>
</div>

</body>
</html>